.my_swiper_slider{
    display: flex;
    flex-direction: column-reverse;
    
}
.my_swiper_slider > img{
    width: 260px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.my_swiper_slider > p{
    white-space: nowrap;
}

.name_mob{
    font-family: var(--font-heading);
    font-size: 1rem; 
    margin-top: 0.8rem;
    color: var(--dark-green);
}

.price_mob{
    font-size: 0.85rem; 
    font-family: var(--font-heading);
    color: var(--dark-green);
    margin-top: 0.5rem;
    
}