.my-swiper-slider{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgb(235, 235, 235);
    border-top-left-radius: 7px ;
    border-top-right-radius: 7px ;
    justify-content: space-around;
}

.my-swiper-slider > img{
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 7px ;
    border-top-right-radius: 7px ;
    margin-bottom: 1.5rem;

}

.name{
    font-family: var(--font-heading);
    font-size: 1rem; 
    margin: 0.2rem auto;
    color: var(--dark-green);
}

.price{
    font-family: var(--font-heading);
    font-size: 14px; 
    margin: 0.2rem auto;
    color: var(--dark-green);
}
