.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 7rem;
    gap: 2.5rem;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
}

.icons>p {
    margin: 0rem 2rem;
    font-size: 0.8rem;
    font-family: var(--font-heading);
    font-style: italic;
}

.icons>.title {
    margin: 1rem auto;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 0.95rem;
}

.ui-icon {
    display: flex;
    margin: 0 auto;
}

@media (max-width:426px) {
    .icon-section {
        flex-direction: column;
        margin: 4rem 2.3rem;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}